/* covers header div that contains header child divs */

header {
    display: flex;
    justify-content: space-around;
    background-color: #05336b;
    color: #ffffff;
    align-items: center;
}


/* covers left header */

.header-L {
    border: 5px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* top logo svg */

#top-logo {
    display: flex;
    border: 5px solid salmon;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
}


/* top tagline svg */

#top-tagline img {
    height: 23px;
    width: 130px;
    border: 5px solid red;
}

#search {
    display: flex;
    flex-direction: row;
    border: 5px solid yellow;
    height: 38px;
    background-color: #375c89;
    color: #05336b;
    border-radius: 20px;
    align-items: center;
}

.search-bar {
    border: 5px solid gold;
    height: 38px;
    background-color: #375c89;
    color: #ffffff;
}

.search-bar::placeholder {
    color: #ffffff;
}

.search-select {
    border: 5px solid wheat;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
}

.header-R {
    border: 5px solid ivory;
}

.world-temp-menu {
    border: 5px solid forestgreen;
}