    /* covers header div that contains header child divs */
    
    header {
        display: flex;
        justify-content: space-around;
        background-color: #05336b;
        color: #ffffff;
        align-items: center;
    }
    /* covers left header */
    
    .header-L {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* top logo svg */
    
    #top-logo {
        display: flex;
        height: 70px;
        width: 70px;
        justify-content: center;
        align-items: center;
    }
    /* top tagline svg */
    
    #top-tagline img {
        height: 23px;
        width: 130px;
    }
    
    #search {
        display: flex;
        flex-direction: row;
        height: 38px;
        background-color: #375c89;
        color: #05336b;
        border-radius: 20px;
        align-items: center;
    }
    
    .search-bar {
        height: 38px;
        background-color: #375c89;
        color: #ffffff;
        border-radius: 20px;
    }
    
    .search-bar::placeholder {
        color: #ffffff;
    }
    
    .search-select {
        height: 24px;
        width: 24px;
        /* display: flex; align-items: center;justify-content: center; */
        fill: #ffffff;
    }
    
    .header-R {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .world-temp-menu {
        width: 143px;
        height: 46px;
        fill: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #tri-svg {
        display: flex;
        justify-content: right;
    }
    
    #ham-con {
        width: 66px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hamburger {
        width: 30px;
        height: 6px;
        background-color: #ffffff;
        margin: 6px;
    }
    
    .header-menu {
        display: flex;
        height: 40px;
        flex-direction: row;
        width: 75%;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
        background-color: #031f40;
        color: #ffffff;
        fill: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .media-link a {
        text-decoration: none;
        color: black;
    }
    
    .media-link a:hover {
        text-decoration: underline;
        color: #1b4de4;
    }
    
    .content-con {
        background-color: #053774;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .content-con div {
        border-radius: 20px;
        background-color: #ffffff;
        margin: 5px;
    }
    
    .top-stories {
        border: green 5px solid;
        width: 755px;
    }
    
    .ts-headlines {
        display: flex;
        flex-direction: row;
        ;
        /* border: pink 5px solid; */
    }
    
    #ts-div-1 {
        width: 100%;
        height: 1px;
        background-color: #dedede;
        margin: 1px;
    }
    
    #ts-div-2 {
        width: 100%;
        height: 1px;
        background-color: #dedede;
        margin: 1px;
    }
    
    #ts-div-3 {
        width: 100%;
        height: 1px;
        background-color: #dedede;
        margin: 1px;
    }
    
    #ts-div-4 {
        width: 100%;
        height: 1px;
        background-color: #dedede;
        margin: 1px;
    }
    
    .content-box {
        display: flex;
        flex-direction: row;
        border: purple solid 5px;
    }
    
    .content-box #ts-rc-1 {
        display: flex;
        flex-direction: column;
    }
    
    #content-box-L {
        display: flex;
        flex-direction: column;
    }
    
    .headlines {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #content-con-R {
        display: flex;
        flex-direction: column;
    }